<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" th:fragment="head(title)">
<head>
    <th:block>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="|${title}|"></title>
        <link th:href="@{/css/layer/nav.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/layer/main.css}" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"></script>
    </th:block>

<body>

    <th:block th:replace=":: header"></th:block>

    <th:block th:replace=":: nav"></th:block>

    <th:block th:replace=":: container"></th:block>

    <th:block th:replace=":: footer"></th:block>

</body>

</head>
</html>