<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" th:replace="layer/head :: head('메인')">
<body>
<th:block th:fragment="header">
    <header>
        <h1>게시판</h1>
    </header>
</th:block>
<th:block th:fragment="nav">
    <nav th:replace="layer/nav :: nav"></nav>
</th:block>
<th:block th:fragment="container">
    <div class="container">
        <div class="board">
            <div class="add-post">
                <a href="/views/posts/create">게시글 작성하기</a>
            </div>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날자</th>
                </tr>
                </thead>
                <tbody id="posts-body"></tbody>
            </table>
            <div class="pagination-container">
                <select id="page-select">
                    <option value="10" selected>10</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <div class="pagination"></div>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="footer">
    <footer>
        &copy; 2025 Community Name. All rights reserved.
    </footer>
</th:block>

<th:block th:fragment="css">
    <link th:href="@{/css/layer/post.css}" rel="stylesheet" type="text/css">
</th:block>

<th:block th:fragment="scripts">
    <script th:inline="javascript">
        $(document).ready(function () {

            function loadPosts(pageNum) {
                $.ajax({
                    url: '/api/v1/posts?pageNumber=' + pageNum + '&pageSize=' + $("#page-select").val(),
                    method: 'GET',
                    accept: 'json',
                    success: function (response) {
                        let html = "";
                        response.data.forEach((post, index) => {
                            html += `<tr data-id='${post.postIdx}'>`;
                            html += `<td>${index + 1}</td>`;
                            html += `<td>${post.title}</td>`;
                            html += `<td>${post.memberId}</td>`;
                            html += `<td>${new Date(post.createTime).toLocaleString()}</td>`;
                            html += "</tr>";
                        });
                        $("#posts-body").html(html);
                        generatePagination(response.totalSize);
                    },
                    error: function () {
                        alert("에러 발생");
                    }
                });
            }

            function generatePagination(totalPages) {
                let paginationHtml = "";
                let pageSize = totalPages / $("#page-select").val();
                for (let j = 0; j < Math.ceil(pageSize); j++) {
                    paginationHtml += `<div class='page-btn page-${j + 1} ${j === 0 ? "active" : ""}' data-page='${j}'>${j + 1}</div>`;
                }
                $(".pagination").html(paginationHtml);
            }

            loadPosts(0);

            $(document).on("click", ".pagination .page-btn", function () {
                $(".pagination .page-btn").removeClass("active");
                $(this).addClass("active");
                let selectedPage = $(this).data("page");
                loadPosts(selectedPage);
            });

            $("#page-select").change(function () {
                pageSelect = $(this).val();
                loadPosts(0);
            });

            $(document).on("click", "#posts-body tr", function () {
                let postId = $(this).data("id");
                if (postId) {
                    window.location.href = "/views/posts/detail/" + postId;
                }
            });
        });
    </script>
</th:block>

</body>
</html>
